#body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: grey;
    align-items: center;

}
.addTaskForm{
    display: inline-flex;
    flex-direction: column; 
   padding-top: 20px;
   display: flex;
   justify-content: center; 
    align-items: center;
    padding-bottom: 20px;
}
#h1{
    color: white;
    background-color: black;
    padding: 10px;
}

